body {
    padding: 25px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('settlersofkalguur-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
}

label {
    display: inline-block;
    width: 350px;
    margin: 5px;
    font-weight: 600;
    padding-bottom: 10px;
}

input,
select {
    font-size: 20px;
}

input[type="number"],
select {
    width: 260px;
}

div.calcbox span:first-child {
    display: inline-block;
    width: 300px;
}

.statusLabel {
    font-weight: 600;
}

.container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.66);
    width: 77%;
    position: relative;
    margin: 0 auto;
}

.calcbox {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

h1 {
    text-align: center;
}

.info {
    margin: 1% 0 0 12%;
    color: #bcffc0;
    width: 1300px;
}

@media (max-width: 1750px) {
    .container {
        display: contents;
    }

    .calcbox {
        width: auto;
    }

    .info {
        margin: 2% 0 0 0;
    }
}